/* DONT MODIFY THIS FILE */
/* ANY MODIFICATIONS TO THIS FILE MAY BREAK THE USER-INTERFACE */

html, body{
	padding:0px;
	margin:0px;
	text-align: center;
	height:100%;
}

body{
	color:#432131;
	font-family: sans-serif;
	border:2em #a341f4 wavy;
}
a{
	color:#4286f4;
	text-decoration: none;
}


header > h1 {
	background-color: #a341f4;
	color:white;
	/*margin:0 0 0 0;*/
	/*text-decoration:underline wavy #a341f4;*/
	outline:#a341f4 solid;
}
header > h2 {
	color:#efbc15;
}